<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.github.zhe2128.nextcloudfilestorage"/>
    <bean id="cuba_FileStorage" class="com.github.zhe2128.nextcloudfilestorage.core.NextCloudFileStorage"/>
</beans>
